@charset "utf-8";

//@import "../node_modules/bulma/sass/utilities/initial-variables";

$body-size: 24px !default;
$gap: 100px;

$blue: #06bcef;
$pink: #ff8080;
$pink-invert: #fff;

$family-sans-serif: 'Nanum Pen Script', cursive;

$primary: $pink;
$primary-invert: $pink-invert;

// @import "../node_modules/bulma/bulma";

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";